# .gitignore for Grails 1.2 and 1.3
# Although this should work for most versions of grails, it is
# suggested that you use the "grails integrate-with --git" command
# to generate your .gitignore file.

# Credentials
grails-app/conf/credentials/google-client-secrets.json
grails-app/conf/credentials/musichub-api-google.json
grails-app/conf/credentials/musichub-api-google.pem

# Ignore new changes - You have to force them (--force)
grails-app/conf/application.yml
grails-app/conf/application.groovy

# web application files
/web-app/WEB-INF/classes
.sass-cache/

# Frontend temp files
.jruby-container/
grails-app/assets/components/
node_modules/
grails-app/assets/fonts/glyphicons*
grails-app/assets/fonts/font-awesome/

# Gradle metadata
.gradle/

# default HSQL database files for production mode
/prodDb.*

# general HSQL database files
*Db.properties
*Db.script

# logs
/stacktrace.log
/test/reports
/logs

# project release file
/*.war

# plugin release files
/*.zip
/plugin.xml

# older plugin install locations
/plugins
/web-app/plugins

# "temporary" build files
/target
/build/
/build/.dependencies
/bin/

# Avoid Eclipse/Idea medatada
.classpath
.idea/
.project
.settings/
musichub-api.iml

grails-app/conf/application.groovy
